# Instalación de SQL en Jupyternotebook

Para empezar, necesitarás tener instalado un motor de base de datos y un conector de Python para ese motor de base de datos. En este ejemplo utilizaré SQLite y el conector sqlite3 de Python. También necesitarás tener instalado el módulo IPython-SQL para poder ejecutar consultas SQL en un notebook de Jupyter.

### Paso 1.
Para instalar estos módulos, puedes utilizar pip:

In [ ]:
!pip install sqlite3
!pip install ipython-sql

### Paso 2. 
Una vez que hayas instalado estos módulos, puedes empezar a trabajar con SQL en tu notebook de Jupyter. En la siguiente celda, cargarás el módulo sqlite3 y el módulo IPython-SQL y establecerás una conexión a una base de datos SQLite:

In [1]:
%load_ext sql
%sql sqlite://

### Paso 3.
A continuación, puedes crear una tabla llamada "employees" con tres campos: "id", "name" y "salary":

In [ ]:
%%sql
CREATE TABLE employees (id INTEGER PRIMARY KEY, name TEXT, salary REAL);

### Paso 4.
Una vez que hayas creado la tabla, puedes insertar algunos datos utilizando una instrucción INSERT:

In [ ]:
%%sql
INSERT INTO employees (id, name, salary) VALUES (1, 'John', 50000);
INSERT INTO employees (id, name, salary) VALUES (2, 'Jane', 60000);
INSERT INTO employees (id, name, salary) VALUES (3, 'Bill', 70000);

### Paso 5. 
Ahora puedes realizar una consulta para seleccionar todos los empleados de la tabla "employees":

In [ ]:
%sql SELECT * FROM employees