<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 1. Glosario General.

***SELECT:*** este comando se utiliza para seleccionar datos de una tabla en la base de datos.

***FROM:*** este comando se utiliza para seleccionar la tabla en la base de datos desde donde se quiere sacar la información.

***INSERT INTO:*** este comando se utiliza para insertar nuevas filas en una tabla.

***UPDATE:*** este comando se utiliza para actualizar filas existentes en una tabla.

***DELETE FROM:*** este comando se utiliza para eliminar filas de una tabla.

***CREATE TABLE:*** este comando se utiliza para crear una nueva tabla en la base de datos.

***DROP TABLE:*** este comando se utiliza para eliminar una tabla de la base de datos.

***WHERE:*** este comando se utiliza especificar las condiciones que debe cumplir una consulta de la base de datos.

***ALTER TABLE:*** este comando se utiliza para modificar una tabla existente, como agregar o eliminar columnas.

***TRUNCATE TABLE:*** este comando se utiliza para vaciar todos los datos de una tabla.

***GROUP BY:*** este comando se utiliza para agrupar resultados de una consulta por una o más columnas.

***HAVING:*** este comando se utiliza para filtrar resultados de una consulta en base a una condición.

***ORDER BY:*** este comando se utiliza para ordenar los resultados de una consulta por una o más columnas.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 2. Explicación del comando SELECT/SELECCIONAR en SQL y sus usos.

El comando SELECT en SQL se utiliza para seleccionar datos de una tabla en la base de datos. Al ejecutar una consulta SELECT, puedes especificar qué columnas de la tabla quieres seleccionar y, opcionalmente, puedes especificar una condición para filtrar qué filas se incluyen en los resultados.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando SELECT:

-   `SELECT *`: selecciona todas las columnas de una tabla.
-   `SELECT column1, column2, ...`: selecciona las columnas especificadas de una tabla.
-   `SELECT DISTINCT column1, column2, ...`: selecciona las columnas especificadas de una tabla, eliminando duplicados.
-   `SELECT * FROM table`: selecciona todas las columnas de la tabla especificada.
-   `SELECT * FROM table WHERE condition`: selecciona todas las columnas de la tabla especificada y solo las filas que cumplen con la condición especificada.
-   `SELECT * FROM table1, table2`: selecciona todas las columnas de ambas tablas.
-   `SELECT * FROM table1 INNER JOIN table2 ON table1.column = table2.column`: selecciona todas las columnas de ambas tablas y solo las filas que cumplen con la condición de unión especificada.
-   `SELECT * FROM table LIMIT n`: selecciona todas las columnas de la tabla y solo las primeras n filas.
-   `SELECT * FROM table ORDER BY column ASC/DESC`: selecciona todas las columnas de la tabla y ordena las filas por la columna especificada en orden ascendente o descendente.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 3. Explicación del comando FROM/DESDE

El comando FROM en SQL se utiliza para especificar de qué tabla o tablas se deben seleccionar los datos en una consulta SELECT. Es necesario incluir la cláusula FROM en cualquier consulta SELECT que no seleccione todas las columnas de la tabla o tablas especificadas.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando FROM:
```sql
SELECT * FROM table: selecciona todas las columnas de la tabla especificada.

SELECT column1, column2 FROM table: selecciona las columnas especificadas de la tabla.

SELECT * FROM table1, table2: selecciona todas las columnas de ambas tablas.
```

Además de especificar las tablas de las que se deben seleccionar los datos, también puedes utilizar la cláusula FROM para especificar alias para las tablas. Esto es útil cuando trabajas con tablas que tienen nombres largos o cuando necesitas unir varias tablas y tienen columnas con nombres iguales.

Aquí tienes un ejemplo de cómo se puede utilizar el comando FROM con alias:

```sql
SELECT c.name, c.age, o.order_date
FROM customers c
JOIN orders o
ON c.id = o.customer_id
```

En este ejemplo, hemos utilizado alias para las tablas customers y orders. Esto nos permite hacer referencia a las columnas de cada tabla utilizando los alias en lugar de escribir el nombre completo de la tabla.

Espero que esto te haya ayudado a entender mejor el comando FROM en SQL. Si tienes más preguntas, no dudes en preguntar.

Ejemplos del uso de FROM.

-   `FROM table`: especifica una tabla de la que se deben seleccionar los datos.
-   `FROM table1, table2`: especifica varias tablas de las que se deben seleccionar los datos.
-   `FROM table1 INNER JOIN table2 ON table1.column = table2.column`: especifica dos tablas que se deben unir y la condición de unión.
-   `FROM table1 LEFT JOIN table2 ON table1.column = table2.column`: especifica dos tablas que se deben unir usando una unión izquierda y la condición de unión.
-   `FROM table1 RIGHT JOIN table2 ON table1.column = table2.column`: especifica dos tablas que se deben unir usando una unión derecha y la condición de unión.
-   `FROM table1 FULL OUTER JOIN table2 ON table1.column = table2.column`: especifica dos tablas que se deben unir usando una unión externa completa y la condición de unión.
-   `FROM table1 CROSS JOIN table2`: especifica dos tablas que se deben cruzar sin utilizar una condición de unión.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 4. Explicación del comando INSERT INTO/Insertar en, en SQL y sus usos.

El comando INSERT INTO en SQL se utiliza para insertar nuevas filas en una tabla de la base de datos. Al ejecutar una consulta INSERT INTO, debes especificar el nombre de la tabla en la que deseas insertar los datos y luego los valores que deseas insertar.

Aquí tienes un ejemplo de cómo se puede utilizar el comando INSERT INTO:

```sql
INSERT INTO table (column1, column2, column3)
VALUES (value1, value2, value3)
```

En este ejemplo, estamos insertando una nueva fila en la tabla table y especificando los valores para las columnas column1, column2 y column3.

También puedes insertar múltiples filas a la vez utilizando una sintaxis ligeramente diferente:

```sql
INSERT INTO table (column1, column2, column3)
VALUES (value1, value2, value3), (value4, value5, value6), (value7, value8, value9)
```

En este ejemplo, estamos insertando tres filas a la vez en la tabla table.

Espero que esto te haya ayudado a entender mejor el comando INSERT INTO en SQL. Si tienes más preguntas, no dudes en preguntar.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `INSERT INTO`:

-   `INSERT INTO table (column1, column2, column3) VALUES (value1, value2, value3)`: inserta una nueva fila en la tabla especificada y especifica los valores para cada columna.
-   `INSERT INTO table (column1, column2, column3) SELECT column1, column2, column3 FROM other_table WHERE condition`: inserta nuevas filas en la tabla especificada seleccionando los datos de otra tabla y filtrando las filas que cumplen con la condición especificada.
-   `INSERT INTO table DEFAULT VALUES`: inserta una nueva fila en la tabla especificada con los valores predeterminados de cada columna.
-   `INSERT INTO table (column1, column2, column3) VALUES (value1, value2, value3), (value4, value5, value6), (value7, value8, value9)`: inserta múltiples filas a la vez en la tabla especificada.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 5. Explicación del comando UPDATE/ACTUALIZAR

El comando UPDATE en SQL se utiliza para modificar los datos existentes en una tabla de la base de datos. Al ejecutar una consulta UPDATE, debes especificar el nombre de la tabla en la que deseas realizar la actualización y luego utilizar la cláusula SET para especificar qué columnas deben modificarse y a qué nuevos valores deben establecerse.

Aquí tienes un ejemplo de cómo se puede utilizar el comando UPDATE:

```sqL
UPDATE table
SET column1 = value1, column2 = value2
WHERE condition
```

En este ejemplo, estamos actualizando la tabla table y estableciendo el valor de column1 en value1 y el valor de column2 en value2. También estamos utilizando la cláusula WHERE para especificar una condición que determina qué filas deben modificarse.

También puedes utilizar el comando UPDATE para modificar los valores de varias tablas a la vez utilizando unir. Aquí tienes un ejemplo:

```sqL
UPDATE table1
SET column1 = table2.column1
FROM table1
JOIN table2
ON table1.id = table2.id
```

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `UPDATE` en SQL:

-   `UPDATE table SET column1 = value1 WHERE condition`: actualiza el valor de una columna para todas las filas que cumplan con la condición especificada.
-   `UPDATE table SET column1 = value1, column2 = value2 WHERE condition`: actualiza el valor de varias columnas para todas las filas que cumplan con la condición especificada.
-   `UPDATE table SET column1 = value1 WHERE column2 = value2`: actualiza el valor de una columna basándose en el valor de otra columna.
-   `UPDATE table1 SET column1 = table2.column1 FROM table1 JOIN table2 ON table1.id = table2.id`: actualiza el valor de una columna en una tabla basándose en el valor de una columna en otra tabla.
-   `UPDATE table SET column1 = value1 WHERE id IN (SELECT id FROM other_table WHERE condition)`: actualiza el valor de una columna en una tabla basándose en el valor de una columna en otra tabla, utilizando una subconsulta.

Espero que esto te haya ayudado a entender mejor los diferentes usos del comando `UPDATE` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 6. Explicación del comando DELETE FROM/ELIMINAR DE

El comando DELETE FROM en SQL se utiliza para eliminar filas de una tabla de la base de datos. Al ejecutar una consulta DELETE FROM, debes especificar el nombre de la tabla de la que deseas eliminar los datos y, opcionalmente, puedes utilizar la cláusula WHERE para especificar una condición que determine qué filas deben eliminarse.

Aquí tienes un ejemplo de cómo se puede utilizar el comando DELETE FROM:

```sqL
DELETE FROM table WHERE condition
```

En este ejemplo, estamos eliminando todas las filas de la tabla table que cumplan con la condición especificada. Si no especificas ninguna condición, se eliminarán todas las filas de la tabla.

Es importante tener cuidado al utilizar el comando DELETE FROM, ya que una vez que las filas se eliminan, no pueden recuperarse. Es recomendable utilizar una consulta SELECT con la cláusula WHERE para verificar qué filas se van a eliminar antes de ejecutar la consulta DELETE FROM.

Espero que esto te haya ayudado a entender mejor el comando DELETE FROM en SQL. Si tienes más preguntas, no dudes en preguntar.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `DELETE FROM` en SQL:

-   `DELETE FROM table WHERE condition`: elimina todas las filas de la tabla que cumplan con la condición especificada.
-   `DELETE FROM table WHERE id IN (SELECT id FROM other_table WHERE condition)`: elimina todas las filas de la tabla que tengan un valor de `id` que exista en otra tabla, utilizando una subconsulta.
-   `DELETE FROM table`: elimina todas las filas de la tabla.
-   `DELETE FROM table WHERE column1 = value1 AND column2 = value2`: elimina todas las filas de la tabla que cumplan con varias condiciones.
-   `DELETE FROM table WHERE column1 IS NULL`: elimina todas las filas de la tabla que tengan un valor `NULL` en la columna especificada.

Espero que esto te haya ayudado a entender mejor los diferentes usos del comando `DELETE FROM` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 7. Explicación del comando  CREATE TABLE/Crear Tabla.

El comando CREATE TABLE en SQL se utiliza para crear una nueva tabla en una base de datos. Al ejecutar una consulta CREATE TABLE, debes especificar el nombre de la nueva tabla y luego definir las columnas de la tabla y sus tipos de datos.

Aquí tienes un ejemplo de cómo se puede utilizar el comando CREATE TABLE:

```sqL
CREATE TABLE table (
  column1 data_type,
  column2 data_type,
  column3 data_type
);
```

En este ejemplo, estamos creando una nueva tabla llamada table con tres columnas: column1, column2 y column3. Estamos especificando el tipo de datos para cada columna, como INTEGER, VARCHAR, DATE, etc.

También puedes utilizar la cláusula PRIMARY KEY para establecer una columna como la clave principal de la tabla y la cláusula FOREIGN KEY para establecer una columna como una clave externa que se refiere a una clave principal en otra tabla.

Espero que esto te haya ayudado a entender mejor el comando CREATE TABLE en SQL. Si tienes más preguntas, no dudes en preguntar.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `CREATE TABLE` en SQL:

-   `CREATE TABLE users (id INTEGER PRIMARY KEY, name TEXT, email TEXT)`: crea una tabla llamada `users` con tres columnas: `id`, `name` y `email`. La columna `id` es un entero y es la clave principal de la tabla.
-   `CREATE TABLE orders (id INTEGER PRIMARY KEY, user_id INTEGER FOREIGN KEY REFERENCES users(id), product_name TEXT, quantity INTEGER)`: crea una tabla llamada `orders` con cuatro columnas: `id`, `user_id`, `product_name` y `quantity`. La columna `id` es la clave principal de la tabla y la columna `user_id` es una clave externa que se refiere a la clave principal de la tabla `users`.
-   `CREATE TABLE products (id INTEGER PRIMARY KEY, name TEXT, price REAL, category TEXT)`: crea una tabla llamada `products` con cuatro columnas: `id`, `name`, `price` y `category`. La columna `id` es la clave principal de la tabla y el tipo de datos `REAL` se utiliza para almacenar valores de punto flotante.
-   `CREATE TABLE events (id INTEGER PRIMARY KEY, name TEXT, start_date DATE, end_date DATE)`: crea una tabla llamada `events` con cuatro columnas: `id`, `name`, `start_date` y `end_date`. La columna `id` es la clave principal de la tabla y el tipo de datos `DATE` se utiliza para almacenar fechas.

Espero que estos ejemplos te hayan ayudado a entender mejor cómo se puede utilizar el comando `CREATE TABLE` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 8. Explicación del comando DROP TABLE/Eliminar Tabla

El comando DROP TABLE en SQL se utiliza para eliminar completamente una tabla de una base de datos. Al ejecutar una consulta DROP TABLE, debes especificar el nombre de la tabla que deseas eliminar.

Aquí tienes un ejemplo de cómo se puede utilizar el comando DROP TABLE:


```sql
DROP TABLE table;
```

En este ejemplo, estamos eliminando completamente la tabla llamada table de la base de datos. Una vez que se ejecuta la consulta, la tabla y todos sus datos se eliminan permanentemente y no pueden recuperarse.

Es importante tener cuidado al utilizar el comando DROP TABLE, ya que una vez que la tabla se elimina, no puede recuperarse. Asegúrate de que realmente quieres eliminar la tabla antes de ejecutar la consulta.

Espero que esto te haya ayudado a entender mejor el comando DROP TABLE en SQL. Si tienes más preguntas, no dudes en preguntar.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `DROP TABLE` en SQL:

-   `DROP TABLE users`: elimina completamente la tabla llamada `users` de la base de datos.
-   `DROP TABLE products, orders`: elimina completamente las tablas llamadas `products` y `orders` de la base de datos.
-   `DROP TABLE IF EXISTS users`: elimina completamente la tabla llamada `users` de la base de datos, pero solo si existe. Si la tabla no existe, no se produce ningún error.

Espero que estos ejemplos te hayan ayudado a entender mejor cómo se puede utilizar el comando `DROP TABLE` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 9. Explicación del comando WHERE/DÓNDE

El comando WHERE en SQL se utiliza para filtrar los resultados de una consulta. Al utilizar la cláusula WHERE, debes especificar una condición que deben cumplir las filas que deseas seleccionar.

Aquí tienes un ejemplo de cómo se puede utilizar el comando WHERE:


```sql
SELECT column1, column2, column3 FROM table WHERE condition;

```

En este ejemplo, estamos seleccionando las columnas column1, column2 y column3 de la tabla table, pero solo para las filas que cumplan con la condición especificada. La condición puede ser cualquier expresión que devuelva un valor verdadero o falso, como column1 = 'value', column2 > 10 o column3 LIKE '%pattern%'.

También puedes utilizar operadores lógicos como AND y OR para combinar varias condiciones y la cláusula IN para especificar una lista de valores permitidos para una columna.

Espero que esto te haya ayudado a entender mejor el comando WHERE en SQL. Si tienes más preguntas, no dudes en preguntar.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `WHERE` en SQL:

-   `SELECT * FROM users WHERE age > 30`: selecciona todas las columnas y filas de la tabla `users` para las filas que tienen un valor de `age` mayor que 30.
-   `SELECT id, name, email FROM users WHERE gender = 'female'`: selecciona las columnas `id`, `name` y `email` de la tabla `users` para las filas que tienen un valor de `gender` igual a 'female'.
-   `SELECT * FROM products WHERE price BETWEEN 10 AND 20`: selecciona todas las columnas y filas de la tabla `products` para las filas que tienen un valor de `price` entre 10 y 20.
-   `SELECT * FROM orders WHERE user_id IN (SELECT id FROM users WHERE name LIKE '%John%')`: selecciona todas las columnas y filas de la tabla `orders` para las filas que tienen un valor de `user_id` que exista en la tabla `users`, utilizando una subconsulta.
-   `SELECT * FROM events WHERE start_date >= '2022-01-01' AND end_date <= '2022-12-31'`: selecciona todas las columnas y filas de la tabla `events` para las filas que tienen un valor de `start_date` mayor o igual al 1 de enero de 2022 y un valor de `end_date` menor o igual al 31 de diciembre de 2022.

Espero que estos ejemplos te hayan ayudado a entender mejor cómo se puede utilizar el comando `WHERE` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 10. Explicación del comando ALTER TABLE/ALTERAR TABLA

El comando ALTER TABLE en SQL se utiliza para modificar la estructura de una tabla existente en una base de datos. Al utilizar el comando ALTER TABLE, puedes agregar o eliminar columnas, modificar el tipo de datos de una columna o agregar o quitar restricciones.

Aquí tienes un ejemplo de cómo se puede utilizar el comando ALTER TABLE:

```sql
ALTER TABLE table ADD column datatype;

```

En este ejemplo, estamos agregando una nueva columna llamada column al final de la tabla table con el tipo de datos especificado.

También puedes utilizar el comando ALTER TABLE para hacer otras modificaciones, como:

ALTER TABLE table DROP COLUMN column: elimina la columna llamada column de la tabla table.
ALTER TABLE table MODIFY COLUMN column datatype: modifica el tipo de datos de la columna llamada column en la tabla table.
ALTER TABLE table ADD CONSTRAINT constraint_name constraint_type(column): agrega una restricción a la tabla table para la columna column.
Espero que esto te haya ayudado a entender mejor el comando ALTER TABLE en SQL. Si tienes más preguntas, no dudes en preguntar.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `ALTER TABLE` en SQL:

-   `ALTER TABLE users ADD email VARCHAR(255)`: agrega una nueva columna llamada `email` a la tabla `users` con un tipo de datos `VARCHAR` de 255 caracteres.
-   `ALTER TABLE orders DROP COLUMN notes`: elimina la columna llamada `notes` de la tabla `orders`.
-   `ALTER TABLE products MODIFY COLUMN price DECIMAL(10,2)`: modifica el tipo de datos de la columna `price` en la tabla `products` a un tipo `DECIMAL` con una precisión de 10 dígitos y una escala de 2.
-   `ALTER TABLE customers ADD CONSTRAINT zip_code_unique UNIQUE(zip_code)`: agrega una restricción `UNIQUE` a la columna `zip_code` de la tabla `customers` para asegurar que no hay dos filas con el mismo valor.

Espero que estos ejemplos te hayan ayudado a entender mejor cómo se puede utilizar el comando `ALTER TABLE` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 11. Explicación del comando TRUNCATE TABLE:

El comando TRUNCATE TABLE en SQL se utiliza para eliminar todas las filas de una tabla, dejando la tabla vacía y reseteando el contador de identidad (si existe). Es similar al comando DELETE FROM con la diferencia de que TRUNCATE TABLE es más rápido y utiliza menos recursos, ya que no mantiene un registro de las filas eliminadas y no activa los triggers de la tabla.

Aquí tienes un ejemplo de cómo se puede utilizar el comando TRUNCATE TABLE:

```sql
TRUNCATE TABLE table;
```

En este ejemplo, estamos eliminando todas las filas de la tabla table. También puedes utilizar el comando TRUNCATE TABLE para eliminar varias tablas al mismo tiempo:

```sql
TRUNCATE TABLE table1, table2, table3;
```

Espero que esto te haya ayudado a entender mejor el comando TRUNCATE TABLE en SQL. Si tienes más preguntas, no dudes en preguntar.


Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `TRUNCATE TABLE` en SQL:

-   `TRUNCATE TABLE users`: elimina todas las filas de la tabla `users`.
-   `TRUNCATE TABLE products, orders, customers`: elimina todas las filas de las tablas `products`, `orders` y `customers`.
-   `TRUNCATE TABLE logs`: elimina todas las filas de la tabla `logs` y resetea el contador de identidad.

Espero que estos ejemplos te hayan ayudado a entender mejor cómo se puede utilizar el comando `TRUNCATE TABLE` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 12. Explicación del comando GROUP BY/AGRUPAR POR

El comando GROUP BY en SQL se utiliza para agrupar los resultados de una consulta según uno o más campos. Al utilizar el comando GROUP BY, puedes utilizar funciones de agregación como COUNT, SUM, AVG y MAX para obtener información resumida sobre los grupos resultantes.

Aquí tienes un ejemplo de cómo se puede utilizar el comando GROUP BY:

```sql
SELECT column, COUNT(*)
FROM table
GROUP BY column;
```

En este ejemplo, estamos seleccionando la columna column y el recuento de filas para cada valor único de column en la tabla table.

También puedes utilizar el comando GROUP BY para agrupar por múltiples columnas:

```sql
SELECT column1, column2, AVG(column3)
FROM table
GROUP BY column1, column2;
```

En este ejemplo, estamos seleccionando las columnas column1 y column2 y el promedio de la columna column3 para cada combinación única de column1 y column2 en la tabla table.

Espero que esto te haya ayudado a entender mejor el comando GROUP BY en SQL. Si tienes más preguntas, no dudes en preguntar.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `GROUP BY` en SQL:

-   `SELECT department, COUNT(*) FROM employees GROUP BY department`: muestra el número de empleados por departamento.
-   `SELECT year, SUM(sales) FROM orders GROUP BY year`: muestra las ventas totales por año.
-   `SELECT product, AVG(price) FROM products GROUP BY product`: muestra el precio promedio por producto.
-   `SELECT customer, MAX(purchase_date) FROM orders GROUP BY customer`: muestra la última fecha de compra por cliente.

Espero que estos ejemplos te hayan ayudado a entender mejor cómo se puede utilizar el comando `GROUP BY` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 13. Explicación del comando HAVING/TENIENDO

El comando HAVING en SQL se utiliza para filtrar los resultados de una consulta que utiliza el comando GROUP BY. Al utilizar el comando HAVING, puedes especificar condiciones que deben cumplirse para que un grupo sea incluido en el resultado final.

Aquí tienes un ejemplo de cómo se puede utilizar el comando HAVING:

```sql
SELECT column, COUNT(*)
FROM table
GROUP BY column
HAVING COUNT(*) > 5;
```

En este ejemplo, estamos seleccionando la columna column y el recuento de filas para cada valor único de column en la tabla table, y filtrando los resultados para mostrar solo aquellos grupos que tienen más de 5 filas.

También puedes utilizar el comando HAVING para especificar múltiples condiciones:

```sql
SELECT column1, column2, AVG(column3)
FROM table
GROUP BY column1, column2
HAVING AVG(column3) > 10 AND COUNT(*) > 5;
```

En este ejemplo, estamos seleccionando las columnas column1 y column2 y el promedio de la columna column3 para cada combinación única de column1 y column2 en la tabla table, y filtrando los resultados para mostrar solo aquellos grupos que tienen un promedio de column3 mayor que 10 y un recuento de filas mayor que 5.

Espero que esto te haya ayudado a entender mejor el comando HAVING en SQL. Si tienes más preguntas, no dudes en preguntar.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `HAVING` en SQL:

-   `SELECT department, COUNT(*) FROM employees GROUP BY department HAVING COUNT(*) > 5`: muestra los departamentos que tienen más de 5 empleados.
-   `SELECT year, SUM(sales) FROM orders GROUP BY year HAVING SUM(sales) > 1000`: muestra los años con ventas totales mayores a 1000.
-   `SELECT product, AVG(price) FROM products GROUP BY product HAVING AVG(price) < 10`: muestra los productos con un precio promedio menor a 10.
-   `SELECT customer, MAX(purchase_date) FROM orders GROUP BY customer HAVING MAX(purchase_date) < '2022-01-01'`: muestra los clientes con la última fecha de compra anterior al 1 de enero de 2022.

Espero que estos ejemplos te hayan ayudado a entender mejor cómo se puede utilizar el comando `HAVING` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# 14. Explicación del comando ORDER BY/ORDENAR POR

El comando ORDER BY en SQL se utiliza para ordenar los resultados de una consulta de acuerdo a uno o más campos. Al utilizar el comando ORDER BY, puedes especificar si los resultados deben ordenarse en orden ascendente o descendente.

Aquí tienes un ejemplo de cómo se puede utilizar el comando ORDER BY:

```sql
SELECT *
FROM table
ORDER BY column ASC;
```

En este ejemplo, estamos seleccionando todas las columnas de la tabla table y ordenando los resultados por la columna column en orden ascendente. Si quieres ordenar los resultados en orden descendente, puedes utilizar DESC en lugar de ASC.

También puedes utilizar el comando ORDER BY para ordenar por múltiples columnas:

```sql
SELECT *
FROM table
ORDER BY column1 ASC, column2 DESC;
```

En este ejemplo, estamos seleccionando todas las columnas de la tabla table y ordenando los resultados primero por la columna column1 en orden ascendente, y luego por la columna column2 en orden descendente.

Espero que esto te haya ayudado a entender mejor el comando ORDER BY en SQL. Si tienes más preguntas, no dudes en preguntar.

Aquí tienes algunos ejemplos de cómo se puede utilizar el comando `ORDER BY` en SQL:

-   `SELECT * FROM employees ORDER BY last_name ASC`: muestra todas las columnas de la tabla `employees` ordenadas por el apellido en orden ascendente.
-   `SELECT * FROM products ORDER BY price DESC`: muestra todas las columnas de la tabla `products` ordenadas por el precio en orden descendente.
-   `SELECT * FROM customers ORDER BY country ASC, city DESC`: muestra todas las columnas de la tabla `customers` ordenadas primero por el país en orden ascendente y luego por la ciudad en orden descendente.
-   `SELECT * FROM orders ORDER BY date ASC, amount DESC`: muestra todas las columnas de la tabla `orders` ordenadas primero por la fecha en orden ascendente y luego por el importe en orden descendente.

Espero que estos ejemplos te hayan ayudado a entender mejor cómo se puede utilizar el comando `ORDER BY` en SQL. Si tienes más preguntas, no dudes en preguntar.

<hr style="height:2px; width: 95%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">