# Ejercicios

<div style="border-left: 5px solid #f0ad4e; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Nota Aclaratoria</h5>

<p>Antes de cada consulta tenemos que colocar  <b>%%sql</b>, la herramienta de comandos magicos de SQL</p>

</div>

In [4]:
%load_ext sql
%sql sqlite://

In [5]:
%%sql
CREATE TABLE groceries (
  id INTEGER PRIMARY KEY,
  product_name TEXT,
  quantity INTEGER,
  price REAL,
  aisle INTEGER
);

INSERT INTO groceries (product_name, quantity, price, aisle)
VALUES
  ('Tomatoes', 5, 0.99, 3),
  ('Apples', 3, 1.49, 1),
  ('Bananas', 6, 0.79, 1),
  ('Carrots', 2, 0.59, 3),
  ('Onions', 1, 0.49, 3),
  ('Lettuce', 1, 0.99, 2),
  ('Potatoes', 5, 0.99, 3),
  ('Bread', 1, 2.49, 4),
  ('Milk', 1, 3.49, 5),
  ('Eggs', 12, 2.99, 5);

 * sqlite://
Done.
10 rows affected.

[]

Utilizando la tabla anterior, realice los siguientes ejercicios.

# Ejercicio 1

Escriba una consulta que muestre el nombre y el precio de todos los productos que estén en el pasillo 3.
Solución:

In [7]:
%%sql
SELECT product_name, price
FROM groceries
WHERE aisle = 3;

 * sqlite://
Done.

[('Tomatoes', 0.99), ('Carrots', 0.59), ('Onions', 0.49), ('Potatoes', 0.99)]

# Ejercicio 2

Escriba una consulta que muestre el nombre de todos los productos y su cantidad, pero solo para aquellos que tienen una cantidad mayor a 3. Ordena los resultados por cantidad en orden ascendente.
Solución:

In [8]:
%%sql
SELECT product_name, quantity
FROM groceries
WHERE quantity > 3
ORDER BY quantity ASC;

 * sqlite://
Done.

[('Tomatoes', 5), ('Potatoes', 5), ('Bananas', 6), ('Eggs', 12)]

# Ejercicio 3

Escriba una consulta que muestre el nombre de todos los productos, su cantidad y el precio, pero solo para aquellos que tienen una cantidad menor a 3 o un precio mayor a $2. Ordena los resultados por precio en orden ascendente.
Solución:

In [9]:
%%sql
SELECT product_name, quantity, price
FROM groceries
WHERE quantity < 3 OR price > 2
ORDER BY price ASC;

 * sqlite://
Done.

[('Onions', 1, 0.49),
 ('Carrots', 2, 0.59),
 ('Lettuce', 1, 0.99),
 ('Bread', 1, 2.49),
 ('Eggs', 12, 2.99),
 ('Milk', 1, 3.49)]