# Conectores en las Consultas SQL AND/OR

La sentencia AND y la sentencia OR son operadores lógicos que se utilizan para combinar dos o más condiciones en una consulta SQL.

La sentencia AND se utiliza para especificar que ambas condiciones deben cumplirse para que una fila sea seleccionada. Por ejemplo, si queremos encontrar todos los ejercicios de tipo 'biking' y que quemen más de 50 calorías, podemos utilizar la siguiente consulta:

```sql
SELECT * FROM exercise_logs WHERE type = 'biking' AND calories > 50;

```

La sentencia OR se utiliza para especificar que al menos una de las condiciones debe cumplirse para que una fila sea seleccionada. Por ejemplo, si queremos encontrar todos los ejercicios de tipo 'biking' o 'dancing', podemos utilizar la siguiente consulta:

```sql
SELECT * FROM exercise_logs WHERE type = 'biking' OR type = 'dancing';


```

Es importante tener en cuenta que la sentencia AND tiene una mayor precedencia que la sentencia OR, por lo que es necesario usar paréntesis para indicar el orden de evaluación de las condiciones. Por ejemplo, si queremos encontrar todos los ejercicios de tipo 'biking' o 'dancing' y que quemen más de 50 calorías, debemos utilizar la siguiente consulta:

```sql
SELECT * FROM exercise_logs WHERE (type = 'biking' OR type = 'dancing') AND calories > 50;


```

  <a href="https://sqliteonline.com/" target="_blank"><button type="button" class="btn btn-success">
  <a href="https://sqliteonline.com/" target="_blank" style="color: white; text-decoration:none;">SQL online</a>
</button></a>

In [1]:
%load_ext sql
%sql sqlite://

# Paso 1: Creamos una base de datos.

Esta tabla tiene del registro de ejercicio, la tabla tiene **cinco** columnas, minutos, calories que quemas, ritmo cardiaco e intensidad.

In [2]:
%%sql
CREATE TABLE exercise_logs
    (id INTEGER PRIMARY KEY AUTOINCREMENT,
    type TEXT,
    minutes INTEGER, 
    calories INTEGER,
    heart_rate INTEGER,
    intensity);

INSERT INTO exercise_logs(type, minutes, calories, heart_rate, intensity) VALUES 
    ('biking', 30, 100, 110, 'high'), 
    ('walk', 60, 30, 100, 'low'), 
    ('dancing', 15, 200, 120, 'medium'),
    ('run', 30, 250, 140, 'high'), 
    ('swim', 60, 300, 120,'medium'), 
    ('aerobics', 15, 200, 150, 'medium'),
    ('yoga', 30, 100, 110, 'high'), 
    ('weight lifting', 60, 30, 100, 'low'), 
    ('boxing', 15, 200, 120, 'medium'),
    ('pilates', 30, 250, 140, 'medium');

 * sqlite://
Done.
10 rows affected.

[]

# Paso 2: Recuerda siempre visualizar la tabla

In [ ]:
%%sql
SELECT * FROM exercise_logs

# Paso 3: Ordenar y condicionar.

La siguiente sentencia seleccionara los ejercicios que consuman más de 50 calorias y las ordena.

In [3]:
%%sql
SELECT * FROM exercise_logs WHERE calories > 50 ORDER BY calories;

 * sqlite://
Done.

[(1, 'biking', 30, 100, 110, 'high'),
 (7, 'yoga', 30, 100, 110, 'high'),
 (3, 'dancing', 15, 200, 120, 'medium'),
 (6, 'aerobics', 15, 200, 150, 'medium'),
 (9, 'boxing', 15, 200, 120, 'medium'),
 (4, 'run', 30, 250, 140, 'high'),
 (10, 'pilates', 30, 250, 140, 'medium'),
 (5, 'swim', 60, 300, 120, 'medium')]

**Explicación**

La sentencia SQL que has proporcionado es una consulta que se utiliza para seleccionar todas las columnas (*) de la tabla "exercise_logs" donde el número de calorías quemadas es mayor de 50 y ordenar los resultados por el número de calorías.

La cláusula **SELECT** indica qué columnas se van a seleccionar. El asterisco (*) significa que se seleccionarán todas las columnas de la tabla.

La cláusula **FROM** especifica de qué tabla se seleccionarán las columnas. En este caso, la tabla se llama "exercise_logs".

La cláusula **WHERE** se utiliza para especificar una condición que debe cumplirse para que una fila se incluya en el conjunto de resultados. En este caso, se está especificando que solo se deben incluir las filas donde el número de calorías quemadas es mayor de 50.

La cláusula **ORDER BY** se utiliza para ordenar el conjunto de resultados por una o varias columnas. En este caso, se está ordenando el conjunto de resultados por el número de calorías quemadas.

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

## Actividad 1

Encuentra el ejercicio que quema el mayor número de calorías entre la intensidad medium:

## Actividad 2

Encuentra el ejercicio que quema el mayor número de calorías y muestra el tipo de ejercicio, el número de calorías quemadas y el nivel de intensidad:

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# Paso 4. Sentencia AND/Y

Crearemos una sentencia SQL donde seleccione que las calorias sean igual o mayor a 100 y los minutos requeridos sean igual o menor a 60,

para lograrlo utiliza la clausula and/y

In [4]:
%%sql
SELECT * from exercise_logs WHERE calories >= 10 and minutes <= 60;

 * sqlite://
Done.

[(1, 'biking', 30, 100, 110, 'high'),
 (2, 'walk', 60, 30, 100, 'low'),
 (3, 'dancing', 15, 200, 120, 'medium'),
 (4, 'run', 30, 250, 140, 'high'),
 (5, 'swim', 60, 300, 120, 'medium'),
 (6, 'aerobics', 15, 200, 150, 'medium'),
 (7, 'yoga', 30, 100, 110, 'high'),
 (8, 'weight lifting', 60, 30, 100, 'low'),
 (9, 'boxing', 15, 200, 120, 'medium'),
 (10, 'pilates', 30, 250, 140, 'medium')]

**Explicación**
    
La sentencia AND en SQL se usa para combinar dos condiciones en una consulta. Si ambas condiciones son verdaderas, entonces el resultado de la consulta será verdadero. De lo contrario, si alguna de las condiciones es falsa, entonces el resultado de la consulta será falso.

Por ejemplo, considere la siguiente consulta:

```sql
SELECT * FROM customers WHERE city = 'New York' AND state = 'NY';

```

Esta consulta seleccionará todos los registros de la tabla "customers" donde la columna "city" tenga el valor "New York" y la columna "state" tenga el valor "NY". Si ambas condiciones son verdaderas para un registro dado, entonces ese registro se incluirá en el resultado de la consulta.

Es importante tener en cuenta que la sentencia AND solo se evalúa como verdadera si ambas condiciones son verdaderas. Si una de las condiciones es falsa, entonces la sentencia AND se evalúa como falsa, independientemente de si la otra condición es verdadera o falsa.

Espero que esto ayude a entender el uso de la sentencia AND en SQL. Si tiene alguna pregunta adicional, no dude en preguntar.

# Paso 5. Sentencia OR/O

Crearemos la sentencia OR para condicionar los ejercicios que nos consuman más de 50 calorias o menos de 60 minutos.

In [5]:
%%sql
SELECT * from exercise_logs WHERE calories > 50 OR minutes <60;

 * sqlite://
Done.

[(1, 'biking', 30, 100, 110, 'high'),
 (3, 'dancing', 15, 200, 120, 'medium'),
 (4, 'run', 30, 250, 140, 'high'),
 (5, 'swim', 60, 300, 120, 'medium'),
 (6, 'aerobics', 15, 200, 150, 'medium'),
 (7, 'yoga', 30, 100, 110, 'high'),
 (9, 'boxing', 15, 200, 120, 'medium'),
 (10, 'pilates', 30, 250, 140, 'medium')]

**Explicación**

La sentencia OR en SQL se usa para combinar dos condiciones en una consulta. Si alguna de las condiciones es verdadera, entonces el resultado de la consulta será verdadero. De lo contrario, si ambas condiciones son falsas, entonces el resultado de la consulta será falso.

Por ejemplo, considere la siguiente consulta:

```sql
SELECT * FROM customers WHERE city = 'New York' OR state = 'NY';
```

Esta consulta seleccionará todos los registros de la tabla "customers" donde la columna "city" tenga el valor "New York" o la columna "state" tenga el valor "NY". Si alguna de estas condiciones es verdadera para un registro dado, entonces ese registro se incluirá en el resultado de la consulta.

Es importante tener en cuenta que la sentencia OR se evalúa como verdadera si alguna de las condiciones es verdadera. Si ambas condiciones son falsas, entonces la sentencia OR se evalúa como falsa.

Espero que esto ayude a entender el uso de la sentencia OR en SQL. Si tiene alguna pregunta adicional, no dude en preguntar.

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

## Actividad 1

Encuentra todos los ejercicios de tipo 'biking' o 'dancing':

## Actividad 2

Encuentra todos los ejercicios de tipo 'biking' o 'dancing' que queman más de 100 calorías:

<div style="border-left: 5px solid #04E720; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Pista: </h5>

A continuación encontrara una pista en la sentencia WHERE para este ejercicio. 
</div>

```sql
WHERE (type = 'biking' OR type = 'dancing') AND calories > 100;
```

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">