# Ejercicios

<div style="border-left: 5px solid #f0ad4e; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Nota Aclaratoria</h5>

<p>Antes de cada consulta tenemos que colocar  <b>%%sql</b>, la herramienta de comandos magicos de SQL</p>

</div>

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE exercise_logs (
id INTEGER PRIMARY KEY AUTOINCREMENT,
type TEXT,
minutes INTEGER,
calories INTEGER,
heart_rate INTEGER
);

INSERT INTO exercise_logs(type, minutes, calories, heart_rate) VALUES
("biking", 30, 115, 110),
("biking", 10, 45, 105),
("dancing", 15, 200, 120),
("dancing", 15, 165, 120),
("tree climbing", 30, 70, 90),
("tree climbing", 25, 72, 80),
("rowing", 30, 70, 90),
("hiking", 60, 80, 85);

 * sqlite://
Done.
8 rows affected.

[]

Resuelve dos ejercicios en SQL que utilicen la sentencia ORDER BY, AVG y HAVING

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# Ejercicio 1

Utiliza la tabla exercise_logs y muestra el promedio de minutos de ejercicio para cada tipo de ejercicio, ordena los resultados de forma ascendente y filtra los resultados para mostrar solo aquellos que tienen un promedio de minutos mayor a 15. Utiliza la cláusula HAVING para filtrar los resultados.

In [3]:
%%sql
SELECT type, AVG(minutes) AS avg_minutes
FROM exercise_logs
GROUP BY type
HAVING avg_minutes > 15
ORDER BY avg_minutes ASC;

 * sqlite://
Done.

[('biking', 20.0), ('tree climbing', 27.5), ('rowing', 30.0), ('hiking', 60.0)]

# Ejercicio 2

Utiliza la tabla exercise_logs y muestra el número de veces que se ha realizado cada tipo de ejercicio, junto con el promedio de calorías quemadas en cada ejercicio. Ordena los resultados de forma descendente por el promedio de calorías quemadas y filtra los resultados para mostrar solo aquellos que tienen un promedio de calorías quemadas mayor a 100. Utiliza la cláusula HAVING para filtrar los resultados.

In [4]:
%%sql
SELECT type, COUNT(*) AS num_exercise, AVG(calories) AS avg_calories
FROM exercise_logs
GROUP BY type
HAVING avg_calories > 100
ORDER BY avg_calories DESC;

 * sqlite://
Done.

[('dancing', 2, 182.5)]

# Ejercicio 3

Utilizando la tabla exercise_logs, muestra el promedio de calorías quemadas por tipo de ejercicio y solo incluye aquellos tipos de ejercicio que hayan sido realizados al menos tres veces. Utiliza la cláusula HAVING para filtrar los resultados y la cláusula AVG para obtener el promedio.

In [5]:
%%sql
SELECT type, COUNT(*) AS num_times_performed FROM exercise_logs
GROUP BY type
HAVING num_times_performed >= 2
ORDER BY num_times_performed DESC;

 * sqlite://
Done.

[('tree climbing', 2), ('dancing', 2), ('biking', 2)]

# Ejercicio 4

Utilizando la tabla exercise_logs, muestra el número de veces que ha sido realizado cada tipo de ejercicio. Utiliza la cláusula HAVING para filtrar los resultados y la cláusula COUNT para contar el número de veces que ha sido realizado cada tipo de ejercicio.

In [6]:
%%sql
SELECT type, AVG(calories) AS avg_calories FROM exercise_logs
GROUP BY type
HAVING COUNT(*) >= 2
ORDER BY avg_calories ASC;

 * sqlite://
Done.

[('tree climbing', 71.0), ('biking', 80.0), ('dancing', 182.5)]

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

In [7]:
%%sql
CREATE TABLE books (
id INTEGER PRIMARY KEY AUTOINCREMENT,
author TEXT,
title TEXT,
words INTEGER
);

INSERT INTO books (author, title, words)
VALUES ("J.K. Rowling", "Harry Potter and the Philosopher's Stone", 79944),
("J.K. Rowling", "Harry Potter and the Chamber of Secrets", 85141),
("J.K. Rowling", "Harry Potter and the Prisoner of Azkaban", 107253),
("J.K. Rowling", "Harry Potter and the Goblet of Fire", 190637),
("J.K. Rowling", "Harry Potter and the Order of the Phoenix", 257045),
("J.K. Rowling", "Harry Potter and the Half-Blood Prince", 168923),
("J.K. Rowling", "Harry Potter and the Deathly Hallows", 197651),
("Stephenie Meyer", "Twilight", 118501),
("Stephenie Meyer", "New Moon", 132807),
("Stephenie Meyer", "Eclipse", 147930),
("Stephenie Meyer", "Breaking Dawn", 192196),
("J.R.R. Tolkien", "The Hobbit", 95022),
("J.R.R. Tolkien", "Fellowship of the Ring", 177227),
("J.R.R. Tolkien", "Two Towers", 143436),
("J.R.R. Tolkien", "Return of the King", 134462);

 * sqlite://
Done.
15 rows affected.

[]

Vamos a hacer otros dos ejercicios con HAVING utilizando la tabla libros, siga los enunciados e intente crear las consultas.

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# Ejercicio 5

Utiliza la tabla de libros y muestra el autor y la cantidad total de palabras que ha escrito cada uno. Utiliza la cláusula HAVING para filtrar los resultados y mostrar solo aquellos autores que han escrito más de 1 millón de palabras.

In [9]:
%%sql
SELECT author, SUM(words) AS total_words FROM books GROUP BY author HAVING total_words >= 1000000;

 * sqlite://
Done.

[('J.K. Rowling', 1086594)]

# Ejercicio 6

Utiliza la tabla books y muestra el nombre del autor y el promedio de palabras por libro para cada autor que haya escrito al menos un libro con un promedio de palabras mayor o igual a 150,000. Utiliza la cláusula HAVING para filtrar los resultados.

In [10]:
%%sql
SELECT author, AVG(words) AS avg_words FROM books GROUP BY author HAVING avg_words >= 150000;

 * sqlite://
Done.

[('J.K. Rowling', 155227.7142857143)]

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">