# Consultas con Case

La sentencia CASE en SQL es utilizada para crear una estructura de decisión dentro de una consulta. Es similar a una estructura de control de flujo como IF-ELSE en un lenguaje de programación. La sintaxis básica de la sentencia CASE es:

```sql
SELECT columna,
    CASE
        WHEN condición THEN resultado
        WHEN condición THEN resultado
    ELSE resultado
   END
FROM example;
```

Utilizando la tabla "recetas" como ejemplo, podríamos crear una consulta para clasificar las recetas según su nivel de calorías utilizando la sentencia CASE:

```sql
SELECT nombre,
       CASE 
           WHEN calorias <= 400 THEN 'Bajo en calorías'
           WHEN calorias <= 600 THEN 'Moderado en calorías'
           ELSE 'Alto en calorías'
       END AS clasificacion_calorias
FROM recetas;

```

En este ejemplo, la sentencia CASE evalúa el campo "calorias" para cada receta en la tabla "recetas". Si el valor de "calorias" es menor o igual a 400, se devuelve "Bajo en calorías", si el valor es menor o igual a 600 se devuelve "Moderado en calorías" y si no se cumple ninguna de las condiciones anteriores se devuelve "Alto en calorías". El resultado de esta consulta es una tabla con dos columnas, "nombre" y "clasificacion_calorias", que indica el nombre de la receta y su clasificación de calorías respectivamente.

In [1]:
#Iniciar SQLite
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE recetas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre VARCHAR(255),
    precio FLOAT,
    calorias INT,
    proteina FLOAT,
    carbohidratos FLOAT,
    grasas FLOAT,
    ingredientes VARCHAR(255)
);

INSERT INTO recetas (nombre, precio, calorias, proteina, carbohidratos, grasas, ingredientes) VALUES
("Pollo a la parrilla", 12.5, 350, 30, 15, 12, "pollo, sal, pimienta, aceite de oliva"),
("Arroz frito", 8.5, 400, 20, 50, 15, "Arroz, huevos, cebolla, ajo, aceite"),
("Spaghetti Bolognesa", 9.0, 500, 25, 60, 20, "Espagueti, carne molida, salsa de tomate, queso rallado, ajo"),
("Paella", 15.0, 650, 30, 70, 25, "Arroz, mariscos, pollo, chorizo, pimiento, cebolla, ajo"),
("Taco al pastor", 2.5, 200, 10, 15, 5, "tortillas, pastor, cebolla, piña, cilantro, limon"),
("Churros", 5.0, 400, 5, 60, 20, "Agua, harina, huevos, azúcar, aceite, sal"),
("Enchiladas", 7.5, 450, 20, 40, 15, "tortillas, pollo, queso, chile, crema, cebolla, cilantro"),
("Lasagna", 10.0, 550, 30, 50, 25, "lasaña, carne molida, salsa de tomate, queso ricotta, queso rallado, ajo, orégano"),
("Sushi", 20.0, 250, 20, 30, 10, "Arroz de sushi, salmón, aguacate, pepino"),
("Ramen", 15.0, 400, 25, 50, 20, "Fideos ramen, caldo, pollo, cebolla, zanahoria, cebolla verde, chile");

 * sqlite://
Done.
10 rows affected.

[]

In [ ]:
%%sql
SELECT * FROM recetas;

# Actividad 1

1.  Utilizando la tabla "recetas", escriba una consulta SQL que clasifique las recetas en tres categorías según su nivel de calorías: "Bajo en calorías", "Moderado en calorías" y "Alto en calorías".
2.  Utilice la sentencia CASE para evaluar el campo "calorias" para cada receta.
3.  Utilice la siguiente lógica para clasificar las recetas: si el valor de "calorias" es menor o igual a 400, clasifíquelo como "Bajo en calorías". Si el valor de "calorias" es menor o igual a 600, clasifíquelo como "Moderado en calorías". Si no se cumple ninguna de las condiciones anteriores, clasifíquelo como "Alto en calorías".
4.  El resultado debe ser una tabla con dos columnas, "nombre" y "clasificacion_calorias", que indica el nombre de la receta y su clasificación de calorías respectivamente.
5.  Ejecute su consulta y verifique el resultado obtenido.

Este ejercicio les enseñará a los estudiantes cómo utilizar la sentencia CASE para clasificar los datos en una tabla. También les ayudará a aprender a utilizar la lógica y la estructura de control de flujo en SQL para evaluar condiciones y asignar valores a los resultados. Además, les enseñará cómo utilizar las columnas alias para renombrar las columnas en el resultado de la consulta.

In [ ]:
%%sql
SELECT nombre,
       CASE 
           WHEN calorias <= 400 THEN 'Bajo en calorías'
           WHEN calorias <= 600 THEN 'Moderado en calorías'
           ELSE 'Alto en calorías'
       END AS clasificacion_calorias
FROM recetas;

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# Ejercicio 1.

Ejercicio para los estudiantes:

1.  Utilizando la tabla "recetas", escriba una consulta SQL que clasifique las recetas según su precio y su nivel de calorías.
2.  Utilice la sentencia CASE para clasificar las recetas según su precio. Utilice la siguiente lógica para clasificar las recetas: si el valor de "precio" es menor o igual a 10, clasifíquelo como "Barato". Si no se cumple esta condición, clasifíquelo como "Caro"
3.  Utilice otra sentencia CASE para clasificar las recetas según su nivel de calorías. Utilice la siguiente lógica para clasificar las recetas: si el valor de "calorias" es menor o igual a 400, clasifíquelo como "Bajo en calorías". Si no se cumple esta condición, clasifíquelo como "Alto en calorías"
4.  El resultado debe ser una tabla con tres columnas, "nombre", "precios

<div style="border-left: 5px solid #04E720; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Pista en el SELECT puedes colocar dos CASE diferentes separandolos por comas. </h5>

</div>

In [ ]:
%%sql
SELECT nombre,
       CASE 
           WHEN precio <= 10 THEN 'Barato'
           ELSE 'Caro'
       END AS precios,
       CASE 
           WHEN calorias <= 400 THEN 'Bajo en calorías'
           ELSE 'Alto en calorías'
       END AS clasificacion_calorias
FROM recetas;

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">