# Ejercicios

<div style="border-left: 5px solid #f0ad4e; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Nota Aclaratoria</h5>

<p>Antes de cada consulta tenemos que colocar  <b>%%sql</b>, la herramienta de comandos magicos de SQL</p>

</div>

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE recetas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre VARCHAR(255),
    precio FLOAT,
    calorias INT,
    proteina FLOAT,
    carbohidratos FLOAT,
    grasas FLOAT,
    ingredientes VARCHAR(255)
);

INSERT INTO recetas (nombre, precio, calorias, proteina, carbohidratos, grasas, ingredientes) VALUES
("Pollo a la parrilla", 12.5, 350, 30, 15, 12, "pollo, sal, pimienta, aceite de oliva"),
("Arroz frito", 8.5, 400, 20, 50, 15, "Arroz, huevos, cebolla, ajo, aceite"),
("Spaghetti Bolognesa", 9.0, 500, 25, 60, 20, "Espagueti, carne molida, salsa de tomate, queso rallado, ajo"),
("Paella", 15.0, 650, 30, 70, 25, "Arroz, mariscos, pollo, chorizo, pimiento, cebolla, ajo"),
("Taco al pastor", 2.5, 200, 10, 15, 5, "tortillas, pastor, cebolla, piña, cilantro, limon"),
("Churros", 5.0, 400, 5, 60, 20, "Agua, harina, huevos, azúcar, aceite, sal"),
("Enchiladas", 7.5, 450, 20, 40, 15, "tortillas, pollo, queso, chile, crema, cebolla, cilantro"),
("Lasagna", 10.0, 550, 30, 50, 25, "lasaña, carne molida, salsa de tomate, queso ricotta, queso rallado, ajo, orégano"),
("Sushi", 20.0, 250, 20, 30, 10, "Arroz de sushi, salmón, aguacate, pepino"),
("Ramen", 15.0, 400, 25, 50, 20, "Fideos ramen, caldo, pollo, cebolla, zanahoria, cebolla verde, chile");

 * sqlite://
Done.
10 rows affected.

[]

Resuelve dos ejercicios en SQL que utilicen la sentencia ORDER BY, AVG y HAVING

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# Ejercicio 1

Utilizando la sentencia CASE crearemos una consulta que nos agrupe y nos diga cuantos alimentos tienen bajas, medianas o altas calorias, sigue las instrucciones a continuación para desarrollar el ejercicio.

Ejercicio para los estudiantes:

1.  Utilizando la tabla "recetas", escriba una consulta SQL que clasifique las recetas según su nivel de calorías y cuente cuantas recetas hay en cada categoría.
2.  Utilice la sentencia CASE para clasificar las recetas según su nivel de calorías. Utilice la siguiente lógica para clasificar las recetas: si el valor de "calorias" es menor o igual a 400, clasifíquelo como "Bajo en calorías". Si el valor de "calorias" esta entre 400 y 600, clasifíquelo como "Moderado en calorías" y si es mayor a 600 clasifíquelo como "Alto en calorías"
3.  Utilice la función GROUP BY para agrupar las recetas por su clasificación de calorías.
4.  Utilice la función COUNT() para contar cuantas recetas hay en cada grupo.
5.  El resultado debe ser una tabla con dos columnas, "clasificacion_calorias" y "cantidad", que indica la clasificación de calorías y la cantidad de recetas en cada grupo respectivamente.
6.  Utilice una subconsulta para clasificar las recetas antes de agruparlas y contarlas.

Este ejercicio ayudaría a los estudiantes a aprender a utilizar la sentencia CASE para clasificar los datos en una tabla, la función de agrupamiento GROUP BY para agrupar los datos en varias categorías y la función COUNT() para contar el número de elementos en cada grupo, así como utilizar subconsultas para mejorar la eficiencia y lectura de las consultas.

In [4]:
%%sql
SELECT clasificacion_calorias, COUNT(*) as cantidad
FROM (
    SELECT nombre,
           CASE 
               WHEN calorias <= 400 THEN 'Bajo en calorías'
               WHEN calorias <= 600 THEN 'Moderado en calorías'
               ELSE 'Alto en calorías'
           END AS clasificacion_calorias
    FROM recetas)
GROUP BY clasificacion_calorias;

 * sqlite://
Done.

[('Alto en calorías', 1), ('Bajo en calorías', 6), ('Moderado en calorías', 3)]

# Ejercicio 2

Bien creeremos una consulta en la que utilizando la sentencia LIKE seleccione las recetas que tengan pollo y la etiqueta que nos diga si son alimentos que son baratos.

Ejercicio para los estudiantes:

1.  Utilizando la tabla "recetas", escriba una consulta SQL que muestre solo las recetas que contengan "pollo" en los ingredientes y clasifique las recetas según su precio.
2.  Utilice la cláusula WHERE y la función LIKE para filtrar solo las recetas que contengan "pollo" en los ingredientes.
3.  Utilice la sentencia CASE para clasificar las recetas según su precio. Utilice la siguiente lógica para clasificar las recetas: si el valor de "precio" es menor o igual a 10, clasifíquelo como "Barato". Si no se cumple esta condición, clasifíquelo como "Caro"
4.  El resultado debe ser una tabla con tres columnas, "nombre", "precio" y "clasificacion_precio", que indica el nombre de la receta, su precio y su clasificación de precio respectivamente.

Este ejercicio ayudaría a los estudiantes a aprender a utilizar la función LIKE para filtrar los datos de una tabla, y a utilizar la sentencia CASE para clasificar los datos según una condición.

In [5]:
%%sql
SELECT nombre, precio,
CASE
WHEN precio <= 10 THEN 'Barato'
ELSE 'Caro'
END AS clasificacion_precio
FROM recetas
WHERE ingredientes LIKE '%pollo%';

 * sqlite://
Done.

[('Pollo a la parrilla', 12.5, 'Caro'),
 ('Paella', 15.0, 'Caro'),
 ('Enchiladas', 7.5, 'Barato'),
 ('Ramen', 15.0, 'Caro')]

# Ejercicio 3

Ejercicio para los estudiantes:

1.  Utilizando la tabla "recetas", escriba una consulta SQL que clasifique las recetas según el nivel de proteína y carbohidratos que contienen.
2.  Utilice la sentencia CASE para clasificar las recetas según el nivel de proteína. Utilice la siguiente lógica para clasificar las recetas: si el valor de "proteina" es menor o igual a 20, clasifíquelo como "Bajo en proteína". Si el valor de "proteina" esta entre 20 y 30, clasifíquelo como "Moderado en proteína" y si es mayor a 30 clasifíquelo como "Alto en proteína"
3.  Utilice otra sentencia CASE para clasificar las recetas según el nivel de carbohidratos. Utilice la siguiente lógica para clasificar las recetas: si el valor de "carbohidratos" es menor o igual a 30, clasifíquelo como "Bajo en carbohidratos". Si el valor de "carbohidratos" esta entre 30 y 50, clasifíquelo como "Moderado en carbohidratos" y si es mayor a 50 clasifíquelo como "Alto en carbohidratos"
4.  El resultado debe ser una tabla con cinco columnas, "nombre", "proteina", "carbohidratos" , "clasificacion_proteina" y "clasificacion_carbohidratos", que indica el nombre de la receta, su nivel de proteina, su nivel de carbohidratos y su clasificación de proteina y carbohidratos respectivamente.

Este ejercicio ayudaría a los estudiantes a aprender a utilizar la sentencia CASE para clasificar los datos en una tabla y a utilizar varias condiciones en una sola consulta para clasificar los datos de acuerdo a varias columnas.

In [6]:
%%sql
SELECT nombre, proteina, carbohidratos,
CASE
WHEN proteina <= 20 THEN 'Bajo en proteína'
WHEN proteina <= 30 THEN 'Moderado en proteína'
ELSE 'Alto en proteína'
END AS clasificacion_proteina,
CASE
WHEN carbohidratos <= 30 THEN 'Bajo en carbohidratos'
WHEN carbohidratos <= 50 THEN 'Moderado en carbohidratos'
ELSE 'Alto en carbohidratos'
END AS clasificacion_carbohidratos
FROM recetas;

 * sqlite://
Done.

[('Pollo a la parrilla', 30.0, 15.0, 'Moderado en proteína', 'Bajo en carbohidratos'),
 ('Arroz frito', 20.0, 50.0, 'Bajo en proteína', 'Moderado en carbohidratos'),
 ('Spaghetti Bolognesa', 25.0, 60.0, 'Moderado en proteína', 'Alto en carbohidratos'),
 ('Paella', 30.0, 70.0, 'Moderado en proteína', 'Alto en carbohidratos'),
 ('Taco al pastor', 10.0, 15.0, 'Bajo en proteína', 'Bajo en carbohidratos'),
 ('Churros', 5.0, 60.0, 'Bajo en proteína', 'Alto en carbohidratos'),
 ('Enchiladas', 20.0, 40.0, 'Bajo en proteína', 'Moderado en carbohidratos'),
 ('Lasagna', 30.0, 50.0, 'Moderado en proteína', 'Moderado en carbohidratos'),
 ('Sushi', 20.0, 30.0, 'Bajo en proteína', 'Bajo en carbohidratos'),
 ('Ramen', 25.0, 50.0, 'Moderado en proteína', 'Moderado en carbohidratos')]

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">