# Ejercicios

<div style="border-left: 5px solid #f0ad4e; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Nota Aclaratoria</h5>

<p>Antes de cada consulta tenemos que colocar  <b>%%sql</b>, la herramienta de comandos magicos de SQL</p>

</div>

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE exercise_logs
    (id INTEGER PRIMARY KEY AUTOINCREMENT,
    type TEXT,
    minutes INTEGER, 
    calories INTEGER,
    heart_rate INTEGER,
    intensity);

INSERT INTO exercise_logs(type, minutes, calories, heart_rate, intensity) VALUES 
    ('biking', 30, 100, 110, 'high'), 
    ('walk', 60, 30, 100, 'low'), 
    ('dancing', 15, 200, 120, 'medium'),
    ('run', 30, 250, 140, 'high'), 
    ('swim', 60, 300, 120,'medium'), 
    ('aerobics', 15, 200, 150, 'medium'),
    ('yoga', 30, 100, 110, 'high'), 
    ('weight lifting', 60, 30, 100, 'low'), 
    ('boxing', 15, 200, 120, 'medium'),
    ('pilates', 30, 250, 140, 'medium');

 * sqlite://
Done.
10 rows affected.

[]

A continuación encontraras cinco ejercicios en qle utilizando la tabla "exercise_logs" utilizando las funciones AND y OR

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# Ejercicio 1

Encuentra todos los ejercicios de tipo 'biking' o 'dancing' y que quemen mayor o igual a 200 calorías:

<div style="border-left: 5px solid #04E720; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;"><h5 id="ensure-correct-role-and-provide-a-label">Pista: </h5>

Utiliza la sentencia OR para elegir biking/bicicleta o dancing/bailar en una orden y luego AND para las calorias.
</div>

```sql
WHERE (type = 'biking' OR type = 'dancing')

```

In [6]:
%%sql
SELECT * FROM exercise_logs WHERE (type = 'biking' OR type = 'dancing') AND calories >= 100;

 * sqlite://
Done.

[(1, 'biking', 30, 100, 110, 'high'), (3, 'dancing', 15, 200, 120, 'medium')]

# Ejercicio 2


Para cada ejercicio de la tabla "exercise_logs", queremos obtener el tipo de ejercicio y el número de calorías quemadas. Además, queremos obtener los tres ejercicios que más calorías quemen en la menor cantidad de minutos.

<div style="border-left: 5px solid #04E720; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;"><h5 id="ensure-correct-role-and-provide-a-label">Pista: </h5>

-Recuerda que ORDER BY te permite ordenarlas, si quieres definir la forma puedes utilizar DESC y ASC
-Cómo quieres limitar la consulta a solo 3 resultados asegurate de utilizar LIMIT 3 en la sentencia.
</div>

```sql
calories DESC
LIMIT 3
```

In [8]:
%%sql
SELECT type, calories FROM exercise_logs ORDER BY calories DESC, minutes ASC LIMIT 3;

 * sqlite://
Done.

[('swim', 300), ('run', 250), ('pilates', 250)]

# Ejercicio 3


Para cada ejercicio de la tabla "exercise_logs", queremos obtener el tipo de ejercicio, el número de calorías quemadas y la frecuencia cardiaca. Sin embargo, sólo queremos obtener aquellos ejercicios que cumplan las siguientes condiciones:

- La frecuencia cardiaca del ejercicio es menor que la media de todas las frecuencias cardiacas.

- El número de calorías quemadas del ejercicio es mayor que la media de todas las calorías quemadas.

<div style="border-left: 5px solid #04E720; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;"><h5 id="ensure-correct-role-and-provide-a-label">Pista: </h5>

1. Intenta primero resolver el problema por separado para comprenderlo mejor.

2. Anida una sentencia SELECT dentro del WHERE y utiliza el conector AND para conectarlas.
</div>

```sql
WHERE heart_rate < (SELECT AVG(heart_rate) FROM exercise_logs)

```

In [9]:
%%sql
SELECT type, calories, heart_rate FROM exercise_logs 
WHERE heart_rate < (SELECT AVG(heart_rate) FROM exercise_logs) AND calories > (SELECT AVG(calories) FROM exercise_logs);

 * sqlite://
Done.

[('dancing', 200, 120), ('swim', 300, 120), ('boxing', 200, 120)]

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">