# Consultas con sentencias LIKE

La cláusula LIKE en SQL se utiliza para buscar valores que cumplan con un patrón en una columna de una tabla. Por ejemplo, si quieres encontrar todos los clientes que tienen "an" en su nombre, podrías usar la siguiente consulta:

```sql
SELECT * FROM clientes WHERE nombre LIKE '%an%';

```

La cláusula LIKE se utiliza a menudo junto con los comodines % y _. Los comodines son caracteres especiales que pueden representar cualquier carácter o conjunto de caracteres:

> % representa cualquier número de caracteres (incluso 0), por lo que %an% coincide con cualquier valor que tenga "an" en cualquier lugar.
> _ representa un único carácter, por lo que _an% coincide con cualquier valor que tenga "an" al final.

Aquí hay algunos ejemplos de cómo usar la cláusula LIKE:

```sql
SELECT * FROM clientes WHERE nombre LIKE '%an';  # Devuelve todos los clientes con "an" al final de su nombre
SELECT * FROM clientes WHERE nombre LIKE 'Juan';  # Devuelve todos los clientes con el nombre "Juan"
SELECT * FROM clientes WHERE nombre LIKE '_an';   # Devuelve todos los clientes con "an" al final de su nombre y un solo carácter antes de "an"

```

Espero que esto te haya ayudado a entender cómo funciona la cláusula LIKE en SQL. Si tienes alguna pregunta más, no dudes en preguntar.

  <a href="https://sqliteonline.com/" target="_blank"><button type="button" class="btn btn-success">
  <a href="https://sqliteonline.com/" target="_blank" style="color: white; text-decoration:none;">SQL online</a>
</button></a>

In [1]:
#Iniciar SQLite
%load_ext sql
%sql sqlite://

# Paso 1: creamos la base de datos

In [2]:
%%sql
CREATE TABLE exercise_logs
    (id INTEGER PRIMARY KEY AUTOINCREMENT,
    type TEXT,
    minutes INTEGER, 
    calories INTEGER,
    heart_rate INTEGER);

INSERT INTO exercise_logs(type, minutes, calories, heart_rate) VALUES ("biking", 30, 100, 110);
INSERT INTO exercise_logs(type, minutes, calories, heart_rate) VALUES ("biking", 10, 30, 105);
INSERT INTO exercise_logs(type, minutes, calories, heart_rate) VALUES ("dancing", 15, 200, 120);
INSERT INTO exercise_logs(type, minutes, calories, heart_rate) VALUES ("tree climbing", 30, 70, 90);
INSERT INTO exercise_logs(type, minutes, calories, heart_rate) VALUES ("tree climbing", 25, 72, 80);
INSERT INTO exercise_logs(type, minutes, calories, heart_rate) VALUES ("rowing", 30, 70, 90);
INSERT INTO exercise_logs(type, minutes, calories, heart_rate) VALUES ("hiking", 60, 80, 85);


CREATE TABLE drs_favorites
    (id INTEGER PRIMARY KEY,
    type TEXT,
    reason TEXT);

INSERT INTO drs_favorites(type, reason) VALUES ("biking", "Improves endurance and flexibility.");
INSERT INTO drs_favorites(type, reason) VALUES ("hiking", "Increases cardiovascular health.");

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
Done.
1 rows affected.
1 rows affected.

[]

# Paso 2 Haremos una consulta que combinando las dos tablas

En la consulta ademas de combinarlas, buscaremos cuál tiene la reason cardivascular.

In [3]:
%%sql
SELECT * FROM exercise_logs WHERE type IN (
    SELECT type FROM drs_favorites WHERE reason LIKE "%cardiovascular%");

 * sqlite://
Done.

[(7, 'hiking', 60, 80, 85)]

Explicación:
    
Esta consulta utiliza la cláusula SELECT para seleccionar todas las columnas (*) de la tabla exercise_logs y la cláusula WHERE para filtrar los resultados en base a la columna type. La condición de filtrado es que el valor de la columna type esté en una lista de valores que se obtienen de la tabla drs_favorites.

La lista de valores se obtiene mediante una subconsulta, que utiliza la cláusula SELECT para seleccionar la columna type de la tabla drs_favorites y la cláusula WHERE para filtrar los resultados en base a la columna reason. La condición de filtrado es que el valor de la columna reason contenga la cadena de caracteres "cardiovascular". Esto se hace utilizando la cláusula LIKE y el comodín %.

En resumen, esta consulta selecciona todas las filas de la tabla exercise_logs cuya columna type corresponde a un tipo de ejercicio favorito de un doctor que mejore la salud cardiovascular.

Espero que esto te haya ayudado a entender la consulta. Si tienes alguna pregunta más, no dudes en preguntar.