# Ejercicios

<div style="border-left: 5px solid #f0ad4e; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Nota Aclaratoria</h5>

<p>Antes de cada consulta tenemos que colocar  <b>%%sql</b>, la herramienta de comandos magicos de SQL</p>

</div>

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE exercise_logs
    (id INTEGER PRIMARY KEY AUTOINCREMENT,
    type TEXT,
    minutes INTEGER, 
    calories INTEGER,
    heart_rate INTEGER,
    intensity);

INSERT INTO exercise_logs(type, minutes, calories, heart_rate, intensity) VALUES 
    ('biking', 30, 100, 110, 'high'), 
    ('walk', 60, 30, 100, 'low'), 
    ('dancing', 15, 200, 120, 'medium'),
    ('run', 30, 250, 140, 'high'), 
    ('swim', 60, 300, 120,'medium'), 
    ('aerobics', 15, 200, 150, 'medium'),
    ('yoga', 30, 100, 110, 'high'), 
    ('weight lifting', 60, 30, 100, 'low'), 
    ('boxing', 15, 200, 120, 'medium'),
    ('pilates', 30, 250, 140, 'medium');

 * sqlite://
Done.
10 rows affected.

[]

A continuación encontraras cinco ejercicios en qle utilizando la tablas **"clientes y pedidos"** utilizando las funciones **IN**

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# Ejercicio 1

Encuentra todos los tipos de ejercicio que han quemado más de 200 calorías y han durado 30 minutos o menos:

In [5]:
%%sql
SELECT type, calories, minutes
FROM exercise_logs
WHERE minutes <= 30
GROUP BY type
HAVING SUM(calories) > 200;

 * sqlite://
Done.

[('pilates', 250, 30), ('run', 250, 30)]

# Ejercicio 2

Encuentra el promedio de calorías quemadas por todos los ejercicios de intensidad alta:

In [6]:
%%sql
SELECT AVG(calories)
FROM exercise_logs
WHERE intensity = 'high';

 * sqlite://
Done.

[(150.0,)]

# Ejercicio 3

Encuentra todos los tipos de ejercicio que han durado al menos 30 minutos y han tenido una tasa cardiaca promedio de al menos 120:

In [8]:
%%sql
SELECT type, heart_rate
FROM exercise_logs
WHERE minutes >= 30
GROUP BY type
HAVING AVG(heart_rate) >= 120;

 * sqlite://
Done.

[('pilates', 140), ('run', 140), ('swim', 120)]

# Ejercicio 4

Encuentra todos los tipos de ejercicio que empiezan con la letra 'b':

In [9]:
%%sql
SELECT type
FROM exercise_logs
WHERE type LIKE 'b%';

 * sqlite://
Done.

[('biking',), ('boxing',)]

# Ejercicio 5

Encuentra todos los tipos de ejercicio que no son 'biking' o 'run':

In [10]:
%%sql
SELECT type
FROM exercise_logs
WHERE type NOT IN ('biking', 'run');

 * sqlite://
Done.

[('walk',),
 ('dancing',),
 ('swim',),
 ('aerobics',),
 ('yoga',),
 ('weight lifting',),
 ('boxing',),
 ('pilates',)]

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">