# 1. Crear tablas en SQL

La creación de tablas requiere entender su composición **[Comando de creación] + [Nombre de la tabla] + [Campos de la tabla]**

Ejemplo:

``` sql
CREATE TABLE book (id INTEGER PRIMARY KEY, name TEXT, rating INTEGER);
```

Descomponemos el problema: [CREATE TABLE] + [book] + [(id INTEGER PRIMARY KEY, name TEXT, rating INTEGER);]

## 1.1. Una vez explicado, pasaremos a entender la línea de las columnas que va a tener la tabla

Encontraremos en minúsculas el nombre de los elementos y en mayúscula encontraremos las propiedades de los elementos.

 - id: Es la columna del identificador del elemento en la tabla.
 - name: Esta columna hace referencia a los nombres de los elementos.
 - rating: Esta columna hace referencia a la calificación del libro. 

**Propiedades**

 - INTEGER= El dato debe ser del tipo número.
 - TEXT= El dato debe ser una cadena de caracteres.
 - PRIMARY KEY= Llave primaria o ID es un elemento único e irrepetible
   en la tabla.

``` sql
(id INTEGER PRIMARY KEY, name TEXT, rating INTEGER);
```

In [ ]:
#La linea a continuación comprende la creación de una tabla.
CREATE TABLE book (id INTEGER PRIMARY KEY, name TEXT, rating INTEGER);

## 1.2. Agregar valores en la tabla.

Para agregar valores en la tabla es necesario utilizar el comando [INSERT INTO]+[nombre de la tabla]+[VALUES]

In [ ]:
#Ejemplo
INSERT INTO book VALUES(1, "El principe", 5);
INSERT INTO book VALUES(2, "El Arte de la guerra", 5);
INSERT INTO book VALUES(3, "Las 48 leyes del poder", 5);

<hr>
A continuación pondremos el código de ejemplo completo.

In [ ]:
#Creación de la tabla
CREATE TABLE book (id INTEGER PRIMARY KEY, name TEXT, rating INTEGER);
#Insertando los comandos de la tabla
INSERT INTO book VALUES(1, "El principe", 5);
INSERT INTO book VALUES(2, "El Arte de la guerra", 5);
INSERT INTO book VALUES(3, "Las 48 leyes del poder", 5);