In [2]:
import sqlite3

In [5]:
%sql CREATE TABLE book (id INTEGER PRIMARY KEY, name TEXT, rating INTEGER);

%sql INSERT INTO book VALUES(1, "El principe", 5);
%sql INSERT INTO book VALUES(2, "El Arte de la guerra", 5);
%sql INSERT INTO book VALUES(3, "Las 48 leyes del poder", 5);

UsageError: Line magic function `%sql` not found.