# Crear una tabla de bade de datos en SQL.

<div style="border-left: 5px solid #f0ad4e; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Nota Aclaratoria</h5>

<p>En <b>Jupyter Notebook</b> tendremos que habilitar la <b>extensión SQL</b> con las siguientes lineas.</p>

</div>

In [ ]:
%load_ext sql
%sql sqlite://

<div style="border-left: 5px solid #f0ad4e; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Nota Aclaratoria</h5>

<p>Antes de cada consulta tenemos que colocar  <b>%%sql</b>, la herramienta de comandos magicos de SQL</p>

</div>

In [ ]:
%%sql

<div style="border-left: 5px solid #f0ad4e; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Nota Aclaratoria</h5>

<p>En el enlace que dejaremos a continuación podrás encontrar una versión de SQL online que servirá para poner en práctica tu código y la visualización si así lo deseas.</p>

  <a href="https://sqliteonline.com/" target="_blank"><button type="button" class="btn btn-success">
  <a href="https://sqliteonline.com/" target="_blank" style="color: white; text-decoration:none;">SQL online</a>
</button></a>
    
</div>

### Paso 1.
Para crear una tabla en SQL, debes usar el comando CREATE TABLE. El comando CREATE TABLE toma dos argumentos: el nombre de la tabla que estás creando y una lista de columnas y sus tipos de datos.


Por ejemplo, si quieres crear una tabla llamada employees con las columnas id, name, age, y address, podrías usar el siguiente código:

In [ ]:
%%sql  #Recuerda siempre utilizar herramientas magicas para poder utilizar SQL.
CREATE TABLE employees (
  id INTEGER PRIMARY KEY,
  name TEXT NOT NULL,
  age INTEGER NOT NULL,
  address TEXT NOT NULL,
  profession TEXT NOT NULL,
  years_experience INTEGER NOT NULL
);

### Paso 2.

Cada columna tiene un tipo de datos asociado, como ***INTEGER o TEXT***. También puedes agregar restricciones a las columnas, como ***NOT NULL***, que indica que la columna no puede tener un valor ***NULL***.

Una vez que hayas creado la tabla, puedes usar el comando ***INSERT INTO*** para agregar filas a la tabla. Por ejemplo:

In [ ]:
%%sql
INSERT INTO employees (id, name, age, address, profession, years_experience) VALUES
  (2, 'Sarah', 25, '456 Market Street', 'software developer', 3),
  (3, 'Mike', 35, '789 Maple Street', 'systems analyst', 5),
  (4, 'Emily', 28, '321 Oak Avenue', 'data scientist', 2),
  (5, 'Jason', 31, '159 Birch Road', 'cloud engineer', 4),
  (6, 'Kate', 33, '753 Pine Street', 'network administrator', 6),
  (7, 'Bob', 29, '147 Cedar Boulevard', 'web developer', 3),
  (8, 'Alice', 27, '369 Spruce Street', 'database administrator', 4),
  (9, 'John', 32, '159 Maple Avenue', 'project manager', 5),
  (10, 'Sara', 35, '753 Oak Road', 'technical writer', 3),
  (11, 'Tom', 30, '369 Pine Street', 'user experience designer', 2);

### Paso 3.

Puedes usar el comando **SELECT** para consultar los datos de la tabla. Por ejemplo:

In [ ]:
%%sql
SELECT * FROM employees;

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

### Actividad del módulo #1

Crea una base de datos con 5 usuarios/filas para una universidad, ten en cuenta las siguientes columnas, de datos.

ID, Nombre, Correo, Año de nacimiento, Dirección, Carrera, Semestre, Promedio, Teléfono, Genero.

Recuerda llamar la tabla students, o estudiantes en ingles, ;) la finalidad de esto es irnos acostumbrando al idioma.

In [ ]:
#Crea la tabla estudiantes.

In [ ]:
#Selecciona la tabla.

### Actividad del módulo #2

ID, Nombre, Correo, Año de nacimiento, Dirección, Facultad, Años de experiencia, Cualificación docente, teléfono, genero.

In [ ]:
#Crea la tabla estudiantes.

In [ ]:
#Selecciona la tabla.

### Actividad del módulo #3

Bien, cómo sabrás hemos creado dos tablas que son redundantes en la cantidad de datos que manejamos, si quisieras hacerlo de la manera correcta ¿cómo lo harías?

In [ ]:
#Describe cuál es el problema con el modelo propuesto y como lo arreglarias.

In [ ]:
#Escribe el nuevo código.

In [ ]:
#Has la nueva consulta.

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">