# Consultas con Count

La sentencia COUNT es una de las funciones más básicas y útiles de SQL, y se utiliza para contar el número de filas en una tabla o en el resultado de una consulta.

Por ejemplo, si quieres saber cuántas recetas hay en tu tabla "recetas", puedes utilizar la sentencia COUNT de la siguiente manera:

```sql
SELECT COUNT(*) FROM recetas;

```

Esta sentencia te devolvería un solo resultado, que es el número total de filas (o recetas) en la tabla "recetas".

Ademas, podemos contar el numero de recetas que pertenecen a un cierto rango de precio, por ejemplo :

```sql
SELECT COUNT(*) FROM recetas WHERE precio BETWEEN 5 and 10;
```

<div style="border-left: 5px solid #04E720; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Explicación de BETWEEN: </h5>

En ingles significa (entre) y hace referencia a los valores entre 5 y 10.  
</div>

Esta sentencia te devolvería un numero de recetas que estan en el rango de precio entre 5 y 10.

Otra forma de utilizar la función COUNT es contar el numero de recetas con un determinado valor en una columna especifica, por ejemplo:

```sql
SELECT COUNT(*) FROM recetas WHERE calorias > 500;

```

Esta sentencia te devolvería un numero de recetas que tienen mas de 500 calorias.

En resumen, COUNT es una función muy útil que te permite contar el número de filas en una tabla o en el resultado de una consulta, y es especialmente útil para obtener estadísticas y hacer seguimiento del tamaño y contenido de tus tablas en una base de datos.

In [1]:
#Iniciar SQLite
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE recetas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre VARCHAR(255),
    precio FLOAT,
    calorias INT,
    proteina FLOAT,
    carbohidratos FLOAT,
    grasas FLOAT,
    ingredientes VARCHAR(255)
);

INSERT INTO recetas (nombre, precio, calorias, proteina, carbohidratos, grasas, ingredientes) VALUES
("Pollo a la parrilla", 12.5, 350, 30, 15, 12, "pollo, sal, pimienta, aceite de oliva"),
("Arroz frito", 8.5, 400, 20, 50, 15, "Arroz, huevos, cebolla, ajo, aceite"),
("Spaghetti Bolognesa", 9.0, 500, 25, 60, 20, "Espagueti, carne molida, salsa de tomate, queso rallado, ajo"),
("Paella", 15.0, 650, 30, 70, 25, "Arroz, mariscos, pollo, chorizo, pimiento, cebolla, ajo"),
("Taco al pastor", 2.5, 200, 10, 15, 5, "tortillas, pastor, cebolla, piña, cilantro, limon"),
("Churros", 5.0, 400, 5, 60, 20, "Agua, harina, huevos, azúcar, aceite, sal"),
("Enchiladas", 7.5, 450, 20, 40, 15, "tortillas, pollo, queso, chile, crema, cebolla, cilantro"),
("Lasagna", 10.0, 550, 30, 50, 25, "lasaña, carne molida, salsa de tomate, queso ricotta, queso rallado, ajo, orégano"),
("Sushi", 20.0, 250, 20, 30, 10, "Arroz de sushi, salmón, aguacate, pepino"),
("Ramen", 15.0, 400, 25, 50, 20, "Fideos ramen, caldo, pollo, cebolla, zanahoria, cebolla verde, chile");

 * sqlite://
Done.
10 rows affected.

[]

In [3]:
%%sql
SELECT * FROM recetas;

 * sqlite://
Done.

[(1, 'Pollo a la parrilla', 12.5, 350, 30.0, 15.0, 12.0, 'pollo, sal, pimienta, aceite de oliva'),
 (2, 'Arroz frito', 8.5, 400, 20.0, 50.0, 15.0, 'Arroz, huevos, cebolla, ajo, aceite'),
 (3, 'Spaghetti Bolognesa', 9.0, 500, 25.0, 60.0, 20.0, 'Espagueti, carne molida, salsa de tomate, queso rallado, ajo'),
 (4, 'Paella', 15.0, 600, 30.0, 70.0, 25.0, 'Arroz, mariscos, pollo, chorizo, pimiento, cebolla, ajo'),
 (5, 'Taco al pastor', 2.5, 200, 10.0, 15.0, 5.0, 'tortillas, pastor, cebolla, piña, cilantro, limon'),
 (6, 'Churros', 5.0, 400, 5.0, 60.0, 20.0, 'Agua, harina, huevos, azúcar, aceite, sal'),
 (7, 'Enchiladas', 7.5, 450, 20.0, 40.0, 15.0, 'tortillas, pollo, queso, chile, crema, cebolla, cilantro'),
 (8, 'Lasagna', 10.0, 550, 30.0, 50.0, 25.0, 'lasaña, carne molida, salsa de tomate, queso ricotta, queso rallado, ajo, orégano'),
 (9, 'Sushi', 20.0, 250, 20.0, 30.0, 10.0, 'Arroz de sushi, salmón, aguacate, pepino'),
 (10, 'Ramen', 15.0, 400, 25.0, 50.0, 20.0, 'Fideos ramen, caldo, pollo, cebolla, zanahoria, cebolla verde, chile')]

# Actividad 1

Por ejemplo, si quisiera saber cuantos platos tenemos que cuesten menos de 8 a 10 USD, tenemos que contarlos.

In [4]:
%%sql
SELECT count(*) FROM recetas WHERE precio BETWEEN 8 and 10;

 * sqlite://
Done.

[(3,)]

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# Ejercicio 1

Cree una consulta en SQL que me muestre el nombre y el precio de recetas que estan entre 8 USD y 10 USD


<div style="border-left: 5px solid #04E720; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Pista, utiliza BETWEEN: </h5>

Utiliza BETWEEN para resolver este ejercicio
</div>

In [5]:
%%sql
SELECT nombre, precio FROM recetas WHERE precio BETWEEN 8 and 10;

 * sqlite://
Done.

[('Arroz frito', 8.5), ('Spaghetti Bolognesa', 9.0), ('Lasagna', 10.0)]

# Ejercicio 2.

Crea una consulta que nos muestre el nombre, precio e ingredientes de recetas que contengan queso.

<div style="border-left: 5px solid #04E720; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Utiliza LIKE: </h5>

Recuerda utilizar LIKE '%variable%'
</div>

In [6]:
%%sql
SELECT nombre, precio, ingredientes FROM recetas WHERE ingredientes LIKE '%queso%';

 * sqlite://
Done.

[('Spaghetti Bolognesa', 9.0, 'Espagueti, carne molida, salsa de tomate, queso rallado, ajo'),
 ('Enchiladas', 7.5, 'tortillas, pollo, queso, chile, crema, cebolla, cilantro'),
 ('Lasagna', 10.0, 'lasaña, carne molida, salsa de tomate, queso ricotta, queso rallado, ajo, orégano')]

# Ejercicio 3.

Bien, ahora tenemos contar cuantas recetas se hacen con queso

<div style="border-left: 5px solid #04E720; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Utiliza COUNT </h5>


</div>

In [10]:
%%sql
SELECT nombre, COUNT(*) FROM recetas WHERE ingredientes LIKE '%pollo%';

 * sqlite://
Done.

[('Pollo a la parrilla', 4)]

# Ejercicio 4.

Resuelva el siguiente ejercicio, lea atentamente el enunciado.

1. Utilizando la tabla "recetas", escriba una consulta SQL que encuentre todas las recetas que contengan "cebolla" y "pollo" como ingredientes.

2. La consulta debe seleccionar todas las columnas de la tabla "recetas" para cada receta encontrada.

3. Utilice el comando LIKE y los caracteres % como comodines para buscar los ingredientes "cebolla" y "pollo" dentro del campo "ingredientes".

4. Ejecute su consulta y anote el nombre de las recetas que cumplen con los criterios de búsqueda.

</div>

In [9]:
%%sql
SELECT * FROM recetas
WHERE ingredientes LIKE '%cebolla%' AND ingredientes LIKE '%pollo%'

 * sqlite://
Done.

[(4, 'Paella', 15.0, 600, 30.0, 70.0, 25.0, 'Arroz, mariscos, pollo, chorizo, pimiento, cebolla, ajo'),
 (7, 'Enchiladas', 7.5, 450, 20.0, 40.0, 15.0, 'tortillas, pollo, queso, chile, crema, cebolla, cilantro'),
 (10, 'Ramen', 15.0, 400, 25.0, 50.0, 20.0, 'Fideos ramen, caldo, pollo, cebolla, zanahoria, cebolla verde, chile')]

# Ejercicio 5


Ejercicio para los alumnos:

1. Utilizando la tabla "recetas", escriba una consulta SQL que cuente cuantas recetas contienen "cebolla" y "pollo" como ingredientes.

2. La consulta debe utilizar el comando COUNT para contar el número de filas que cumplen con los criterios de búsqueda.

3. Utilice el comando LIKE y los caracteres % como comodines para buscar los ingredientes "cebolla" y "pollo" dentro del campo "ingredientes".

4. Ejecute su consulta y anote el resultado obtenido.

Respuesta:

In [11]:
%%sql
SELECT COUNT(*) FROM recetas
WHERE ingredientes LIKE '%cebolla%' AND ingredientes LIKE '%pollo%'

 * sqlite://
Done.

[(3,)]

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">