# Ejercicios

<div style="border-left: 5px solid #f0ad4e; padding:1.25rem; border-right: 1px solid #eee;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;">

<h5 id="ensure-correct-role-and-provide-a-label">Nota Aclaratoria</h5>

<p>Antes de cada consulta tenemos que colocar  <b>%%sql</b>, la herramienta de comandos magicos de SQL</p>

</div>

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE exercise_logs
    (id INTEGER PRIMARY KEY AUTOINCREMENT,
    type TEXT,
    minutes INTEGER, 
    calories INTEGER,
    heart_rate INTEGER,
    intensity);

INSERT INTO exercise_logs(type, minutes, calories, heart_rate, intensity) VALUES 
    ('biking', 30, 100, 110, 'high'), 
    ('walk', 60, 30, 100, 'low'), 
    ('dancing', 15, 200, 120, 'medium'),
    ('run', 30, 250, 140, 'high'), 
    ('swim', 60, 300, 120,'medium'), 
    ('aerobics', 15, 200, 150, 'medium'),
    ('yoga', 30, 100, 110, 'high'), 
    ('weight lifting', 60, 30, 100, 'low'), 
    ('boxing', 15, 200, 120, 'medium'),
    ('pilates', 30, 250, 140, 'medium');
    
    
CREATE TABLE drs_favorites (
  id INTEGER PRIMARY KEY,
  type TEXT,
  reason TEXT
);

INSERT INTO drs_favorites (type, reason) VALUES 
    ("biking", "Improves endurance and flexibility."),
    ("hiking", "Increases cardiovascular health.");

 * sqlite://
Done.
10 rows affected.
Done.
2 rows affected.

[]

A continuaci√≥n encontraras cinco ejercicios en qle utilizando la tablas **"clientes y pedidos"** utilizando las funciones **IN**

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">

# Ejercicio 1

Obtener todos los registros de ejercicios de la tabla exercise_logs cuyo tipo de ejercicio contenga la cadena de caracteres "aerobics".

In [3]:
%%sql
SELECT * FROM exercise_logs WHERE type LIKE '%aerobics%';

 * sqlite://
Done.

[(6, 'aerobics', 15, 200, 150, 'medium')]

# Ejercicio 2

Obtener todos los registros de ejercicios de la tabla exercise_logs cuyo tipo de ejercicio empiece con la letra "b".

In [4]:
%%sql
SELECT * FROM exercise_logs WHERE type LIKE 'b%';

 * sqlite://
Done.

[(1, 'biking', 30, 100, 110, 'high'), (9, 'boxing', 15, 200, 120, 'medium')]

# Ejercicio 3

Obtener todos los registros de ejercicios de la tabla exercise_logs cuyo tipo de ejercicio termine con la letra "ing".

In [5]:
%%sql
SELECT * FROM exercise_logs WHERE type LIKE '%ing';

 * sqlite://
Done.

[(1, 'biking', 30, 100, 110, 'high'),
 (3, 'dancing', 15, 200, 120, 'medium'),
 (8, 'weight lifting', 60, 30, 100, 'low'),
 (9, 'boxing', 15, 200, 120, 'medium')]

<hr style="height:5px; width: 100%; border-radius: 20%; background-color:#E7046B ; border-color: #E7046B">